body {
    margin: 0;
    background-color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-nav {
    position: relative;
    display: flex;
    background-color: #121212;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
    padding-left: 1rem;
}

.menu {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    right: 0;
    justify-content: flex-end;
    padding-right: 1rem;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 45rem;
    padding: 5rem;
}

h1 {
    font-family: "neue-haas-grotesk-display",
    sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    margin: 0;
    color: white;
}

h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: white;
}

h3 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

p {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 0.9rem;
    color: white;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover, 
a:focus,
a:active {
    text-decoration: underline;
}

.img-container,
.img-container-link {
    width: 50rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 5rem;
}

.img-container img,
.img-container-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    transition: 0.15s ease-in-out;
}

.img-container-link img:hover,
.img-container-link img:focus,
.img-container-link img:active {
    scale: 1.2;
    
}

.title-text {
    max-width: 38rem;
}

.title-para {
    text-align: center;
    max-width: 18rem;
}

.body-text {
    max-width: 31rem;
}

/*
for Neue Haas Grotesk Display Pro 55 Roman
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;

For Neue Haas Grotesk Display Pro 65 Medium
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 600;
font-style: normal;

For Neue Haas Grotesk Text Pro 55 Roman
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: normal;
*/