body {
    margin: 0;
    background-color: #161740;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-nav {
    position: relative;
    display: flex;
    background-color: #161740;
    align-items: center;
    border-bottom: 1px solid #292a63;
    padding-left: 1rem;
}

.menu {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    right: 0;
    justify-content: flex-end;
    padding-right: 1rem;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 5rem;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 45rem;
    padding: 2.5rem 5rem;
}

h1 {
    font-family: "neue-haas-grotesk-display",
    sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    margin: 0;
    color: #EBEBF2;
    padding-top: 5rem;
}

h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #EBEBF2;
}

h3 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: #EBEBF2;
}

p {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 0.9rem;
    color: #EBEBF2;
}

a {
    color: #6a6bb0;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

a:hover, 
a:focus,
a:active {
    text-decoration: underline;
    color: #EBEBF2;
}

.img-container,
.img-container-link {
    max-width: 50rem;
    max-height: 30rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.img-container img,
.img-container-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    transition: 0.2s ease-in-out;
}

.img-container-link img:hover,
.img-container-link img:focus,
.img-container-link img:active {
    scale: 1.2;
    
}

.img-container img:nth-child(1) {
    scale: 1.1;
}

.title-text {
    max-width: 38rem;
}

.title-para {
    text-align: center;
    max-width: 18rem;
}

.body-text {
    max-width: 31rem;
}

.star {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    transition: transform 1.5s ease;
}

/* Project Page Styling */

.context {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.context-item {
    display: flex;
    flex-direction: column;
}

.context-item p{
    margin: 0;
    padding: 0;
}

.blue-text-box {
    text-align: center;
    max-width: 25rem;
    background-color: #292a63;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blue-text-box p {
    text-align: center;
}

.image-with-caption {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-with-caption img{
    max-width: 20rem;
    max-height: 13rem;
}

.diagram {
    display: flex;
    gap: 1rem;
}

.diagram .blue-text-box {
    flex: 1;
}

/* need to make a wider container for components including images */

/* ANIMATIONS: MOVE THIS TO DIFFERENT FILE LATER */

.star:hover {
    transform: rotate(360deg);
}

/* CONTACT FORM STUFF: MOVE THIS TO DIFFERENT FILE LATER */

fieldset {
  color: #EBEBF2;
  border-radius: 7px;
  font-family: "neue-haas-grotesk", sans-serif;
  font-variation-settings: "wght" 800;
  width: 100%;
  max-width: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.input-field input, textarea{
  border-radius: 7px;
  font-family: "neue-haas-grotesk", sans-serif;
  color: #EBEBF2;
  background: #161740;
  border: 1px solid #4a4b8a;
  padding: 7px;
  margin-top: 7px;
  width: 100%;
  transition: 0.1s ease-in-out;
}

.input-field label {
  display: block;
  font-weight: bold;
  margin: 20px;
}

.input-field input:hover, .input-field input:focus,
textarea:hover, textarea:focus{
  border: 1px solid #EBEBF2;
}

::placeholder {
    color: #4a4b8a;
}

textarea {
    resize: vertical;
    margin-left: 1rem;
}


