body {
    margin: 0;
    background-color: #121212;
}

section {
    margin: 3rem;
}

.website-nav {
    position: relative;
    display: flex;
    background-color: #121212;
    align-items: center;
    border-bottom: 1px solid #2e2e2e;
    padding-left: 1rem;
}

.menu {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    right: 0;
    justify-content: flex-end;
    padding-right: 1rem;
}

code {
    background-color: #454545;
    color: white;
}

h1 {
    font-family: "neue-haas-grotesk-display",
    sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    margin: 0;
    color: white;
}

h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: white;
}

h3 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: white; 
}

h4 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
}

p {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 0.9rem;
    color: white;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover, 
a:focus,
a:active {
    text-decoration: underline;
}

.button-nav {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: white;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
}

.button-nav:hover,
.button-nav:focus,
.button-nav:active {
    text-decoration: none;
    background-color: #666666;
}